@import "../../../../styles/variables";

.taste {
    .aromatique {
        background-color: $aromatique-color;
        color: $aromatique-text-color;
    }

    .souple {
        background-color: $souple-color;
        color: $souple-text-color;
    }

    .rond {
        background-color: $rond-color;
        color: $rond-text-color;
    }

    .fruitee {
        background-color: $fruitee-color;
        color: $fruitee-text-color;
    }

    .boisee {
        background-color: $boisee-color;
        color: $boisee-text-color;
    }

    .vif {
        background-color: $vif-color;
        color: $vif-text-color;
    }

    .delicat {
        background-color: $delicat-color;
        color: $delicat-text-color;
    }

    .leger {
        background-color: $leger-color;
        color: $leger-text-color;
    }

    .charnu {
        background-color: $charnu-color;
        color: $charnu-text-color;
    }

    .epicee {
        background-color: $epicee-color;
        color: $epicee-text-color;
    }
}