@import '../../../../styles/mixins';

$thumbnail-height: 430px;

.thumbnail {
    padding: 7px;

    .image {
        img {
            @include center;
            width: auto !important;
        }
        
        position: relative;
        height: $thumbnail-height;
        width: auto;
        background-color: white !important;
    }
}