@import '../../../../styles/mixins';
@import '../../../../styles/variables';

$title-section-height: 115px;

.title {
    height: $title-section-height;
    background-color: $title-background-color !important;
}