@import '../../../styles/variables';

.querybuilder {
    transition: display 3.9s, opacity 4.5s linear;
    margin-bottom: 10px;

    .ui.padded.segment {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    #sort {
        margin-top: 25px;
    }

    #limit-selector {
        margin-top: 25px;
    }

    #stats {
        margin-top: 30px;
    }

    button, .ui.button {
        background-color: $color-secondary;
        color: $color-tertiary;
    }
}