$aromatique-color: red;
$aromatique-text-color: white;

$souple-color: red;
$souple-text-color: white;

$rond-color: purple;
$rond-text-color: white;

$fruitee-color: green;
$fruitee-text-color: white;

$boisee-color: green;
$boisee-text-color: white;

$doux-color: green;
$doux-text-color: white;

$vif-color: yellow;
$vif-text-color: black;

$epicee-color: rgb(255, 94, 0);
$epicee-text-color: black;

$delicat-color: orange;
$delicat-text-color: black;

$leger-color: orange;
$leger-text-color: black;

$charnu-color: brown;
$charnu-text-color: white;