@import '../../../styles/variables';

.pagination {
    a.item {
        color: $color-primary !important;
    }

    a.active.item {
        background-color: $color-secondary !important;
        color: $color-white !important;
    }
}