@import '../../../styles/mixins';
@import '../../../styles/variables';

.search {
    @include breakpoint-md {
        .input {
            width: 80vw;
        }
    }

    @include breakpoint-sm {
        .input {
            width: 80vw;
        }
    }

    @include breakpoint-xs {
        .input {
            width: 60vw;
        }
    }
}