@import '../../../styles/variables';

.navbar {
    .ui.menu {
        border-radius: 0 !important;
    }

    .ui.menu.pointing {
        background-color: $navbar-background-color;
    }

    .ui.menu.fixed {
        line-height: $typographic-base-line-height * 0.6 !important;
        height: 8% !important;
        transition: height 0.15s ease-in-out
    }

    .ui:not(.inverted) {
        button, .ui.button {
            background-color: $color-secondary;
            color: $color-tertiary;
        }
    }

    .ui.inverted {
        button, .ui.button {
            background-color: $color-tertiary;
            color: $color-secondary;
        }
    }
}